In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('nobel-prize-laureates.csv', sep=";")

In [3]:
df.drop(['Geo Shape','Overall motivation'], axis=1, inplace=True)

In [4]:
df.isna().sum()

Id                        0
Firstname                 0
Surname                  32
Born                     40
Died                    326
Born country             31
Born country code        31
Born city                33
Died country            338
Died country code       338
Died city               344
Gender                    0
Year                      0
Category                  0
Motivation                0
Organization name       262
Organization city       267
Organization country    265
Geo Point 2D            358
dtype: int64

In [217]:
df.shape

(989, 19)

In [160]:
df.dropna(subset = ['Organization city','Born city'], how='all', inplace=True)

In [139]:
# df['Organization name'] = df['Organization name'].fillna("Unknown organization")
df['Organization city'] = df['Organization city'].fillna("Unknown organization city")
# df['Organization country'] = df['Organization country'].fillna("Unknown organization country")
df['Born'] = df['Born'].fillna("Unknown")
df['Born city'] = df['Born city'].fillna("Unknown")
df['Surname'] = df['Surname'].fillna("")
df['Died'] = df['Died'].fillna("Not Applicable")

# df['Overall motivation'] = df['Overall motivation'].fillna("Not Available")
# df['Geo Point 2D'] = df['Geo Point 2D'].fillna(0)

In [5]:
df1 = pd.read_csv('worldcities_clean.csv')

In [18]:
test = df.merge(df1, how="left", left_on="Born city", right_on="city")

In [21]:
def extract_coordinates(coord):
    try:
        lat, lon = map(float, coord.split(','))
        return round(lat, 2), round(lon, 2)
    except (ValueError, AttributeError):
        return None, None

In [23]:
test[['latitude', 'longitude']] = test['Geo Point 2D'].apply(extract_coordinates).apply(pd.Series)

/var/folders/fn/qzkx51nn66bfy072yjlc8x_00000gn/T/ipykernel_8368/4060736740.py:1: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  test[['latitude', 'longitude']] = test['Geo Point 2D'].apply(extract_coordinates).apply(pd.Series)

In [26]:
test.dropna(subset = ['latitude','lat'], how='all', inplace=True)

In [31]:
test.shape

(868, 26)

In [33]:
test.columns

Index(['Id', 'Firstname', 'Surname', 'Born', 'Died', 'Born country',
       'Born country code', 'Born city', 'Died country', 'Died country code',
       'Died city', 'Gender', 'Year', 'Category', 'Motivation',
       'Organization name', 'Organization city', 'Organization country',
       'Geo Point 2D', 'city', 'lat', 'lng', 'country', 'population',
       'latitude', 'longitude'],
      dtype='object')

In [35]:
test.drop(['Born country code','Died country code','Geo Point 2D', 'city', 'lat', 'lng', 'country', 'population',],axis=1, inplace=True)

In [37]:
test.isna().sum()

Id                        0
Firstname                 0
Surname                   0
Born                      8
Died                    276
Born country              0
Born city                 0
Died country            286
Died city               289
Gender                    0
Year                      0
Category                  0
Motivation                0
Organization name       122
Organization city         0
Organization country    125
latitude                  0
longitude                 0
dtype: int64

In [38]:
test['Organization city'] = test['Organization city'].fillna("Unknown organization city")
test['Organization country'] = test['Organization country'].fillna("Unknown organization country")
test['Organization name'] = test['Organization name'].fillna("Unknown organization name")

test['Born'] = test['Born'].fillna("Unknown")
test['Born city'] = test['Born city'].fillna("Unknown")
test['Surname'] = test['Surname'].fillna("")
test['Died'] = test['Died'].fillna("Not Applicable")
test['Died country'] = test['Died country'].fillna("Not Applicable")
test['Died city'] = test['Died city'].fillna("Not Applicable")

In [39]:
test.to_csv('final_data.csv')

In [40]:
def spread_coordinates(df, tolerance=0.01):
    for i, row in df.iterrows():
        lat, lon = row['latitude'], row['longitude']
        mask = ((df['latitude'] >= lat - tolerance * lat) & (df['latitude'] <= lat + tolerance * lat) &
                (df['longitude'] >= lon - tolerance * lon) & (df['longitude'] <= lon + tolerance * lon))
        count = mask.sum()
        
        if count > 1:
            spread = tolerance * lat / 2
            df.loc[mask, 'latitude'] += spread
            df.loc[mask, 'longitude'] += spread

In [41]:
spread_coordinates(test)

In [42]:
test.isna().sum()

Id                      0
Firstname               0
Surname                 0
Born                    0
Died                    0
Born country            0
Born city               0
Died country            0
Died city               0
Gender                  0
Year                    0
Category                0
Motivation              0
Organization name       0
Organization city       0
Organization country    0
latitude                0
longitude               0
dtype: int64

In [43]:
test.to_csv('test_data.csv')

In [45]:
test['Year'].max()

2022

In [29]:
test['latitude'].fillna(test['lat'],inplace=True)
test['longitude'].fillna(test['lng'],inplace=True)

In [212]:
test = df.merge(df1, how="left", left_on="Born city", right_on="city")

In [188]:
test['lat_x'] = test['lat_x'].fillna(test['lat_y'])
test['lng_x'] = test['lng_x'].fillna(test['lng_y'])

In [189]:
test.drop(['Born country code','Died country code','Overall motivation','Geo Shape', 'Geo Point 2D','city_y', 'lat_y', 'lng_y'], axis=1, inplace=True)

In [190]:
test.dropna(subset=['lat_x','lng_x'], inplace=True)

In [213]:
test.isna().sum()

Id                        0
Firstname                 0
Surname                  32
Born                     40
Died                    342
Born country             31
Born country code        31
Born city                 0
Died country            355
Died country code       355
Died city               361
Gender                    0
Year                      0
Category                  0
Motivation                0
Organization name       273
Organization city       282
Organization country    276
Geo Point 2D            388
city                    442
lat                     442
lng                     442
country                 442
population              442
dtype: int64

In [12]:
df['Born city']

0            Nagoya
1      Little Falls
2              Arad
3               nan
4            Ryazan
           ...
984     Danzig (now
985            Gary
986          Yakima
987       Milwaukee
988       Haverhill
Name: Born city, Length: 989, dtype: object

In [196]:
test.drop(['Died country','Died city'], axis=1, inplace=True)

In [197]:
test['Organization city'] = test['Organization city'].fillna("Unknown organization city")
test['Organization country'] = test['Organization country'].fillna("Unknown organization country")
test['Born'] = test['Born'].fillna("Unknown")
test['Born city'] = test['Born city'].fillna("Unknown")
test['Surname'] = test['Surname'].fillna("")
test['Died'] = test['Died'].fillna("Not Applicable")
test['Organization name'] = test['Organization name'].fillna("Unknown organization")


# test['Overall motivation'] = test['Overall motivation'].fillna("Not Available")
# test['Geo Point 2D'] = test['Geo Point 2D'].fillna(0)
test['city_x'] = test['city_x'].fillna("unknown")

In [178]:
test.columns

Index(['Id', 'Firstname', 'Surname', 'Born', 'Died', 'Born country',
       'Born country code', 'Born city', 'Died country', 'Died country code',
       'Died city', 'Gender', 'Year', 'Category', 'Overall motivation',
       'Motivation', 'Organization name', 'Organization city',
       'Organization country', 'Geo Shape', 'Geo Point 2D', 'city_x', 'lat_x',
       'lng_x', 'city_y', 'lat_y', 'lng_y'],
      dtype='object')

In [114]:
df

,Id,Firstname,Surname,Born,Died,Born country,Born country code,Born city,Gender,Year,Category,Overall motivation,Motivation,Organization name,Organization city,Organization country,Geo Point 2D
0,827,Makoto,Kobayashi,1944-04-07,Not Applicable,Japan,JP,Nagoya,male,2008,Physics,Not Available,"""for the discovery of the origin of the broken...",High Energy Accelerator Research Organization ...,Tsukuba,Japan,"37.552622590632275, 137.97995950757186"
1,879,Brian,Kobilka,1955-05-30,Not Applicable,USA,US,Little Falls MN,male,2012,Chemistry,Not Available,"""for studies of G-protein-coupled receptors""",Stanford University School of Medicine,Stanford CA,USA,"45.68753333949257, -112.49433391594603"
2,910,Stefan W.,Hell,1962-12-23,Not Applicable,Romania,RO,Arad,male,2014,Chemistry,Not Available,"""for the development of super-resolved fluores...",Max Planck Institute for Biophysical Chemistry,Göttingen,Germany,"51.106273435758716, 10.381710872747187"
4,296,Ivan,Pavlov,1849-09-14,1936-02-27,Russia,RU,Ryazan,male,1904,Medicine,Not Available,"""in recognition of his work on the physiology ...",Military Medical Academy,St. Petersburg,Russia,"61.98434173753368, 96.6934557674586"
5,311,Archibald V.,Hill,1886-09-26,1977-06-03,United Kingdom,GB,Bristol,male,1922,Medicine,Not Available,"""for his discovery relating to the production ...",London University,London,United Kingdom,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,909,Eric,Betzig,1960-01-13,Not Applicable,USA,US,Ann Arbor MI,male,2014,Chemistry,Not Available,"""for the development of super-resolved fluores...",Janelia Research Campus Howard Hughes Medical ...,Ashburn VA,USA,"45.68753333949257, -112.49433391594603"
985,679,Paul A.,Samuelson,1915-05-15,2009-12-13,USA,US,Gary IN,male,1970,Economics,Not Available,"""for the scientific work through which he has ...",Massachusetts Institute of Technology (MIT),Cambridge MA,USA,"45.68753333949257, -112.49433391594603"
986,714,Robert E.,Lucas Jr.,1937-09-15,2023-05-15,USA,US,Yakima WA,male,1995,Economics,Not Available,"""for having developed and applied the hypothes...",University of Chicago,Chicago IL,USA,"45.68753333949257, -112.49433391594603"
987,842,Thomas A.,Steitz,1940-08-23,2018-08-23,USA,US,Milwaukee WI,male,2009,Chemistry,Not Available,"""for studies of the structure and function of ...",Yale University,New Haven CT,USA,"45.68753333949257, -112.49433391594603"
988,884,James E.,Rothman,1950-11-03,Not Applicable,USA,US,Haverhill MA,male,2013,Medicine,Not Available,"""for their discoveries of machinery regulating...",Yale University,New Haven CT,USA,"45.68753333949257, -112.49433391594603"

In [165]:
df1.drop(['country','population'],axis=1, inplace=True)

In [8]:
def remove_last_word_after_space(s):
    words = str(s).split()
    if len(words) > 1:
        words = words[:-1]
    return ' '.join(words)

In [9]:
df['Born city'] = df['Born city'].apply(remove_last_word_after_space)

In [13]:
df['Organization city'] = df['Organization city'].apply(remove_last_word_after_space)

In [171]:
df['Organization city']

0        Tsukuba
1       Stanford
2      Göttingen
4            St.
5         London
         ...
984          nan
985    Cambridge
986      Chicago
987    New Haven
988    New Haven
Name: Organization city, Length: 958, dtype: object

In [143]:
merged_df = df.merge(df1, left_on='Organization city', right_on='city', how='left')

In [144]:
merged_df

,Id,Firstname,Surname,Born,Died,Born country,Born country code,Born city,Gender,Year,Category,Overall motivation,Motivation,Organization name,Organization city,Organization country,Geo Point 2D,city,lat,lng
0,827,Makoto,Kobayashi,1944-04-07,Not Applicable,Japan,JP,Nagoya,male,2008,Physics,Not Available,"""for the discovery of the origin of the broken...",High Energy Accelerator Research Organization ...,Tsukuba,Japan,"37.552622590632275, 137.97995950757186",NaN,NaN,NaN
1,879,Brian,Kobilka,1955-05-30,Not Applicable,USA,US,Little Falls MN,male,2012,Chemistry,Not Available,"""for studies of G-protein-coupled receptors""",Stanford University School of Medicine,Stanford,USA,"45.68753333949257, -112.49433391594603",NaN,NaN,NaN
2,910,Stefan W.,Hell,1962-12-23,Not Applicable,Romania,RO,Arad,male,2014,Chemistry,Not Available,"""for the development of super-resolved fluores...",Max Planck Institute for Biophysical Chemistry,Göttingen,Germany,"51.106273435758716, 10.381710872747187",Göttingen,51.5204,9.9200
3,296,Ivan,Pavlov,1849-09-14,1936-02-27,Russia,RU,Ryazan,male,1904,Medicine,Not Available,"""in recognition of his work on the physiology ...",Military Medical Academy,St.,Russia,"61.98434173753368, 96.6934557674586",NaN,NaN,NaN
4,311,Archibald V.,Hill,1886-09-26,1977-06-03,United Kingdom,GB,Bristol,male,1922,Medicine,Not Available,"""for his discovery relating to the production ...",London University,London,United Kingdom,0,London,51.5000,-0.1167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,679,Paul A.,Samuelson,1915-05-15,2009-12-13,USA,US,Gary IN,male,1970,Economics,Not Available,"""for the scientific work through which he has ...",Massachusetts Institute of Technology (MIT),Cambridge,USA,"45.68753333949257, -112.49433391594603",Cambridge,52.2004,0.1166
893,679,Paul A.,Samuelson,1915-05-15,2009-12-13,USA,US,Gary IN,male,1970,Economics,Not Available,"""for the scientific work through which he has ...",Massachusetts Institute of Technology (MIT),Cambridge,USA,"45.68753333949257, -112.49433391594603",Cambridge,42.3758,-71.1184
894,714,Robert E.,Lucas Jr.,1937-09-15,2023-05-15,USA,US,Yakima WA,male,1995,Economics,Not Available,"""for having developed and applied the hypothes...",University of Chicago,Chicago,USA,"45.68753333949257, -112.49433391594603",Chicago,41.8373,-87.6861
895,842,Thomas A.,Steitz,1940-08-23,2018-08-23,USA,US,Milwaukee WI,male,2009,Chemistry,Not Available,"""for studies of the structure and function of ...",Yale University,New Haven,USA,"45.68753333949257, -112.49433391594603",New Haven,41.3112,-72.9245
896,884,James E.,Rothman,1950-11-03,Not Applicable,USA,US,Haverhill MA,male,2013,Medicine,Not Available,"""for their discoveries of machinery regulating...",Yale University,New Haven,USA,"45.68753333949257, -112.49433391594603",New Haven,41.3112,-72.9245

In [147]:
merged_df.isna().sum()

Id                      0
Firstname               0
Surname                 0
Born                    0
Died                    0
Born country            0
Born country code       0
Born city               0
Gender                  0
Year                    0
Category                0
Overall motivation      0
Motivation              0
Organization name       0
Organization city       0
Organization country    0
Geo Point 2D            0
city                    0
lat                     0
lng                     0
dtype: int64

In [146]:
merged_df.dropna(inplace=True)

In [149]:
merged_df.shape

(733, 20)

In [199]:
test.to_csv('final_data.csv',index=False)